@charset "UTF-8";

//@import "compass/reset";
@import "./common";
@import "./mixin";

html, body {
    font-family: "儷黑 Pro", "LiHei Pro","文泉驛正黑", "WenQuanYi Zen Hei", "微軟正黑體", "Microsoft JhengHei", "新細明體", sans-serif, Arial, Helvetica;
    background: #f0f0f0;
}

body {
    padding-top: 150px;
}

.social {
    a {
        display: inline-block;
        width: 30px;
        height: 30px;
        background: #fff;

        @include border-radius(100%);

        line-height: 30px;
        text-align: center;
        color: $coollife-main;
        font-size: 16px;
        text-decoration: none;
        margin: 10px 3px;

        &.fb {
            &::before {
                content: "\f09a";
                font-family: FontAwesome;
            }
        }

        &.twitter {
            &::before {
                content: "\f099";
                font-family: FontAwesome;
            }
        }

        &.youtube {
            &::before {
                content: "\f16a";
                font-family: FontAwesome;
            }
        }

        &.instagram {
            &::before {
                content: "\f16d";
                font-family: FontAwesome;
            }
        }
    }
}

.header {
    height: 145px;
    width: 100%;
    background: $coollife-main url("../images/bg.jpg") no-repeat top left;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;

    @include transition(all, 0.3s);

    &.simple {
        top: -100px;
    }

    .logo {
        display: inline-block;
        width: 180px;
        height: 60px;
        background: url("../images/logo.png") no-repeat center center;
        background-size: 180px 60px;
        margin: 20px auto 0;

        @include transition(all, 0.3s);
    }

    .social {
        position: absolute;
        top: 25px;
        right: 25px;
    }

    .category {
        position: absolute;
        left: 0;
        bottom: 0;
        height: 45px;
        width: 100%;
        background: #fff;

        @include box;

        border-top: 1px solid rgba(0, 0, 0, 0.1);
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        overflow: hidden;

        .list {
            height: 100px;
            white-space: nowrap;
            overflow: auto;
            position: relative;
            z-index: 1;
            padding-left: 40px;
            padding-right: 83px;

            a {
                display: inline-block;
                line-height: 43px;
                font-size: 14px;
                text-decoration: none;
                margin: 0 8px;
                color: 333;
                letter-spacing: 0.125em;

                @include transition(color, 0.3s);

                &:hover, &:active {
                    color: $coollife-main;
                }

                &::before {
                    content: "\f02e";
                    font-family: FontAwesome;
                    color: $coollife-main;
                    font-size: 12px;
                    margin-right: 4px;
                }
            }
        }

        .search {
            position: absolute;
            z-index: 10;
            top: 0px;
            right: 0;
            height: 43px;
            min-width: 43px;
            background: #fff;
            border-left: 1px solid rgba(0, 0, 0, 0.05);

            &::before {
                content: "\f002";
                font-family: FontAwesome;
                color: $coollife-2nd;
                font-size: 15px;
                position: absolute;
                top: 0;
                left: 15px;
                line-height: 43px;
                pointer-events: none;
            }

            &:hover, &:active {
                background: #f8f8f8;

                input[type=text] {
                    width: 200px;
                }

                span {
                    width: 43px;
                }
            }

            span {
                display: inline-block;
                width: 0px;
                height: 43px;
                cursor: pointer;

                @include transition(width, 0.5s);
            }

            input[type=text] {
                @include transition(width, 0.5s);

                font-size: 14px;
                margin: 0;
                color: #333;
                line-height: 43px;
                height: 43px;
                width: 0px;
                display: inline-block;
                border: 0;
                outline: none;
                background: #f8f8f8;

                &:focus {
                    border: 0;
                    outline: none;
                }
            }
        }
    }
}

.broadcast {
    width: 95%;
    max-width: $maxW;
    height: 40px;
    overflow: hidden;
    margin: 10px auto;

    a {
        text-decoration: none;
        display: block;
        width: 60%;
        font-size: 18px;
        color: #000;
        line-height: 40px;
        height: 40px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        letter-spacing: 0.1em;
        float: left;

        &:hover {
            color: $coollife-main;
        }

        &::before {
            content: "\f143";
            font-family: FontAwesome;
            color: $coollife-main;
            font-size: 24px;
            margin-right: 12px;
        }
    }

    .list {
        position: relative;
        top: 0;

        @include transition(top, 0.5s);

        &::after {
            content: "";
            display: block;
            clear: both;
            visibility: hidden;
            height: 0;
        }
    }
}

.banners {
    width: 95%;
    max-width: $maxW;
    margin: 0 auto 150px;

    a {
        display: inline-block;
        float: left;
        width: 33.3333%;
        position: relative;
        padding-top: 19%;

        &:first-child {
            width: 66.6666%;
            padding-top: 38%;

            .title {
                width: auto;
                max-width: 96%;
                left: 2%;
                bottom: -40px;
                font-size: 36px;
                background: rgba(255, 255, 255, 1);
                color: #000;
                line-height: 1.2;
                padding: 20px;

                @include box-shadow(0px 2px 4px rgba(0, 0, 0, 0.1));

                span {
                    font-size: 14px;
                    line-height: 30px;
                    color: #fff;
                    padding: 0 20px;
                    letter-spacing: 0.125em;
                    position: absolute;
                    left: 0;
                    top: -30px;
                    display: inline-block;
                    background: $coollife-main;

                    &::before {
                        content: "\f111";
                        font-family: FontAwesome;
                        margin-right: 5px;
                    }
                }

                &::before {
                    content: '';
                }
            }
        }

        .title {
            width: 100%;
            position: absolute;
            bottom: 0px;
            left: 0;
            z-index: 5;
            color: #fff;
            font-size: 18px;
            line-height: 1.5;

            @include box;

            padding: 10px;
            padding-left: 35px;

            span {
                font-size: 12px;
                display: block;
                margin-bottom: 10px;
            }

            &::before {
                content: "\f111";
                font-family: FontAwesome;
                color: $coollife-main;
                position: absolute;
                left: 10px;
                top: 37px;
            }
        }

        .thumb {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
            z-index: 1;
            background: #fff;

            @include opacity(0);
            @include transition(opacity, 0.3s);

            &.active {
                @include opacity(1);
            }

            &::after {
                content: "";
                display: block;
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 70%;
                z-index: 2;
                background: rgba(0, 0, 0, 0.3);
                background: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
                background: -o-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
                background: -moz-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
                background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
            }
        }

        &:nth-child(1) {
            .thumb {
                @include border-radius(8px 0 0 8px);
            }
        }

        &:nth-child(2) {
            .thumb {
                @include border-radius(0 8px 0 0);
            }
        }

        &:nth-child(3) {
            .thumb {
                @include border-radius(0 0 8px 0);
            }
        }

        &:hover {
            .thumb {
                @include opacity(0.8);
            }
        }
    }

    &::after {
        content: "";
        display: block;
        clear: both;
        visibility: hidden;
        height: 0;
    }
}

.subject {
    width: 220px;
    height: 100px;
    padding-top: 10px;
    background: $coollife-2nd;
    margin: 0 auto;

    @include border-radius(0 0 220px 220px);

    div:last-child {
        color: #fff;
        font-size: 14px;
        letter-spacing: 0.3em;
        line-height: 2;
    }

    div:first-child {
        color: $coollife-main;
        font-size: 24px;
        letter-spacing: 0.05em;
        line-height: 2;
        font-style: italic;

        span {
            font-weight: bold;
        }
    }

    &.invert {
        background: $coollife-main;

        div:first-child {
            color: $coollife-2nd;
        }
    }
}

.topics {
    width: 100%;
    background: $coollife-main url("../images/bg.jpg") no-repeat top left;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;

    //padding-bottom: 50px;

    .list {
        width: 100%;
        list-style: none;
        text-align: center;
        margin: 30px auto;

        li {
            display: inline-block;
            font-size: 14px;
            line-height: 14px;
            color: #fff;
            letter-spacing: 0.125em;
            padding: 0 8px;
            margin: 8px 0;

            @include box;

            border-right: 1px solid rgba(255, 255, 255, 0.5);
            cursor: pointer;

            &:active, &:hover {
                color: $coollife-2nd;
            }

            &.active {
                font-size: 18px;
                font-weight: bold;
                color: $coollife-2nd;
            }

            &:last-child {
                border: 0;
            }
        }
    }

    .topic {
        width: 95%;
        max-width: $maxW;
        margin: 0 auto;
        position: relative;

        a {
            display: inline-block;
            width: calc(25% - 10px);
            position: relative;
            padding-top: 19%;
            background: #fff;

            @include border-radius(8px);

            overflow: hidden;

            @include box;

            float: left;
            margin: 5px;

            &:nth-child(1) {
                position: absolute;
                top: 0;
                left: 25%;
                width: calc(50% - 10px);
                padding-top: calc(38% + 10px);

                .info {
                    .title {
                        font-size: 24px;
                        line-height: 1.2;
                        max-height: 58px;
                        padding-left: 26px;
                    }

                    .brief {
                        margin-top: 8px;
                        font-size: 12px;
                        color: #999;
                        text-align: left;
                        line-height: 1.5;

                        @include box;

                        padding-left: 26px;
                        max-height: 36px;
                        overflow: hidden;
                    }
                }

                //display:none;
           
            }

            &:nth-child(2), &:nth-child(4) {
                margin-right: calc(50% + 5px);
            }

            .thumb {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 75%;
                overflow: hidden;
                z-index: 1;
                background: #fff;

                @include opacity(0);
                @include transition(opacity, 0.3s);

                &.active {
                    @include opacity(1);
                }
            }

            .info {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                min-height: 25%;
                overflow: hidden;
                z-index: 2;
                padding: 3%;
                background: #fff;

                @include box;

                .title {
                    text-align: left;
                    font-size: 18px;
                    color: #000;
                    text-decoration: none;
                    line-height: 1.5;
                    position: relative;
                    max-height: 54px;
                    overflow: hidden;

                    @include box;

                    padding-left: 20px;

                    &::before {
                        content: "\f111";
                        font-family: FontAwesome;
                        color: $coollife-main;
                        position: absolute;
                        left: 0;
                        top: 0;
                    }
                }

                .brief {
                    margin-top: 5px;
                    font-size: 12px;
                    color: #999;
                    text-align: left;
                    line-height: 1.5;

                    @include box;

                    padding-left: 20px;
                    max-height: 18px;
                    overflow: hidden;
                }
            }

            &:hover {
                .thumb {
                    @include opacity(0.8);
                }
            }
        }

        &::after {
            content: "";
            display: block;
            clear: both;
            visibility: hidden;
            height: 0;
        }
    }

    .more {
        display: inline-block;
        font-size: 18px;
        line-height: 45px;
        border: 1px solid $coollife-2nd;
        color: $coollife-2nd;
        padding: 0 30px;
        text-decoration: none;
        margin: 50px auto 100px;
        letter-spacing: 0.125em;

        @include transition(all, 0.3s);
        @include border-radius(8px);

        &:hover {
            background: $coollife-2nd;
            color: $coollife-main;
        }
    }
}

.slogan {
    position: relative;
    height: 60%;
    background: #fff url("../images/slogan_bg1.jpg") no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;

    &.bg1 {
        background: #fff url("../images/slogan_bg1.jpg") no-repeat center center;
        background-size: cover;
        background-attachment: fixed;
    }

    &.bg2 {
        background: #fff url("../images/slogan_bg2.jpg") no-repeat center center;
        background-size: cover;
        background-attachment: fixed;
    }

    &.bg3 {
        background: #fff url("../images/slogan_bg3.jpg") no-repeat center center;
        background-size: cover;
        background-attachment: fixed;
    }

    img {
        position: absolute;
        width: auto;
        height: 100%;
        left: 40%;
        z-index: 5;
    }

    .txt {
        position: absolute;
        color: #fff;
        z-index: 6;
        left: 5%;
        top: 50%;
        margin-top: -12px;
        font-size: 24px;
        line-height: 24px;
        letter-spacing: 0.1em;

        &::before {
            content: "\f111";
            font-family: FontAwesome;
            color: $coollife-main;
            margin-right: 10px;
        }
    }

    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        display: block;
        z-index: 1;
        background: rgba(0, 0, 0, 0.3);
    }
}

.slider {
    width: 100%;
    text-align: center;
    overflow: hidden;

    &.result_mode {
        .list-area {
            white-space: normal;
        }

        .more {
            font-size: 14px;
            line-height: 60px;
            width: 60px;
            height: 60px;
            padding: 0;
            margin: 50px auto 100px;
            text-align: center;

            @include border-radius(100%);
        }

        .search_target {
            text-align: center;
            font-size: 24px;
            letter-spacing: 0.125em;
            color: $coollife-main;
            margin: 0px auto 50px;

            &::before {
                content: "\f002";
                font-family: FontAwesome;
                color: #999;
                font-size: 14px;
                display: block;
                margin-bottom: 15px;
            }
        }
    }

    .list-area {
        width: 95%;
        max-width: $maxW;
        margin: 50px auto 0;
        position: relative;
        white-space: nowrap;

        .prev, .next {
            position: absolute;
            z-index: 5;
            width: 50px;
            height: 50px;

            @include border-radius(100%);

            background: $coollife-2nd;
            cursor: pointer;
            text-align: center;
            top: 50%;
            left: -20px;
            margin-top: -25px;

            @include box-shadow(0px 2px 4px rgba(0, 0, 0, 0.1));

            &::after {
                line-height: 50px;
                font-size: 14px;
                content: "\f053";
                font-family: FontAwesome;
                color: #fff;
            }
        }

        .next {
            left: auto;
            right: -20px;

            &::after {
                content: "\f054";
            }
        }

        .list-content {
            overflow: hidden;

            ::-webkit-scrollbar {
                //display: none;
           
            }

            .list {
                position: relative;
                left: 0px;

                @include transition(left, 0.5s);
            }
        }

        a {
            display: inline-block;
            width: calc(25% - 10px);
            background: #fff;
            min-width: 180px;
            max-width: 300px;

            @include border-radius(8px);

            overflow: hidden;

            @include box;

            margin: 5px;
            text-decoration: none;

            @include box-shadow(0px 2px 4px rgba(0, 0, 0, 0.1));

            .thumb {
                position: relative;
                width: 100%;
                padding-top: 56%;
                overflow: hidden;
                z-index: 1;
                background: #fff;

                @include opacity(0);
                @include transition(opacity, 0.3s);

                &.active {
                    @include opacity(1);
                }

                border-bottom: 5px solid $coollife-main;
            }

            .info {
                width: 100%;
                height: 160px;
                overflow: hidden;
                z-index: 2;
                padding: 5%;

                @include box;

                white-space: normal;

                .tag {
                    text-align: left;
                    font-size: 12px;
                    color: $coollife-main;
                    line-height: 2;

                    &::before {
                        content: "\f111";
                        font-family: FontAwesome;
                        margin-right: 8px;
                    }

                    margin: 0 auto 8px;
                }

                .title {
                    text-align: left;
                    font-size: 18px;
                    color: #000;
                    line-height: 1.5;
                }
            }

            &:hover {
                .thumb {
                    @include opacity(0.8);
                }
            }
        }

        &::after {
            content: "";
            display: block;
            clear: both;
            visibility: hidden;
            height: 0;
        }
    }

    .more {
        display: inline-block;
        font-size: 18px;
        line-height: 45px;
        border: 1px solid $coollife-main;
        color: $coollife-main;
        padding: 0 30px;
        text-decoration: none;
        margin: 50px auto 100px;
        letter-spacing: 0.125em;

        @include transition(all, 0.3s);
        @include border-radius(8px);

        &:hover {
            background: $coollife-main;
            color: #fff;
        }
    }
}

.footer {
    .groups {
        display: flex;
        align-items: stretch;
        text-align: center;

        .zone-name {
            //margin-top:50px;
            text-decoration: none;

            .en {
                font-size: 12px;
                line-height: 1.5;
                color: $coollife-main;
                font-weight: bold;
                font-style: italic;

                &::before {
                    content: "\f111";
                    font-family: FontAwesome;
                    margin-right: 4px;
                }
            }

            .ch {
                font-size: 18px;
                line-height: 1.5;
                color: #fff;
                letter-spacing: 0.125em;
            }
        }

        .groupLeft {
            flex: 2;
            background: #333 url("../images/partner_bg.jpg") no-repeat center center;

            //background: #333;
            background-size: cover;
            position: relative;
            min-height: 450px;

            .zone-name {
                margin-top: 50px;
            }

            .partners {
                width: 90%;
                list-style: none;
                margin: 50px auto;
                padding: 0;

                li {
                    display: inline-block;
                    width: 100px;
                    margin: 15px 8px;
                    text-align: center;

                    img {
                        max-width: 100%;
                        max-height: 100%;
                    }
                }
            }
        }

        .groupRight {
            flex: 1;
            display: flex;
            flex-direction: column;

            > div {
                flex: 1 1 auto;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .promote {
                background: #333 url("../images/gaming_bg.jpg") no-repeat center center;
                background-size: cover;

                a {
                    text-decoration: none;
                }
            }

            .social {
                background: $coollife-2nd;

                a {
                    background: none;
                    color: #fff;
                    font-size: 24px;
                    width: 15%;
                }

                //display:flex;
                //align-items:center;
           
            }
        }
    }

    .links {
        width: 100%;
        background: $coollife-main url("../images/bg.jpg") no-repeat top left;
        background-size: cover;
        background-attachment: fixed;
        text-align: center;
        padding: 50px 0;

        img {
            width: 180px;
            height: auto;
            margin-bottom: 30px;
        }

        .link {
            margin: 0 auto 0;
            width: 80%;

            a {
                display: inline-block;
                text-decoration: none;
                font-size: 14px;
                color: #fff;
                margin: 5px 10px;
            }
        }
    }

    .copyright {
        > div {
            width: 95%;
            max-width: $maxW;
            margin: 0 auto;
            border-top: 5px solid $coollife-2nd;
            font-size: 12px;
            line-height: 18px;
            padding: 15px 0;
            text-align: center;
            color: #999;
        }
    }
}

.gotop {
    position: fixed;
    width: 18px;
    height: 60px;
    display: inline-block;
    bottom: 30px;
    right: 20px;
    background: url("../images/gotop.png") no-repeat top left;
    cursor: pointer;
    z-index: 999;

    @include transition(height, 0.3s);

    &:hover {
        height: 72px;
    }
}

.content {
    width: 95%;
    max-width: $maxW;
    margin: 30px auto 100px;

    > .main {
        width: 66%;
        float: left;

        > .snap {
            position: relative;
            z-index: 1;
            width: 100%;

            img {
                width: 100%;
            }

            &::after {
                content: "";
                display: block;
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 70%;
                z-index: 2;
                background: rgba(0, 0, 0, 0.3);
                background: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
                background: -o-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
                background: -moz-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
                background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
            }
        }

        > .inner {
            position: relative;
            z-index: 5;
            width: 95%;
            margin: -30px auto 0;

            @include box;

            padding: 30px;
            background: #fff;

            @include box-shadow(0px 2px 4px rgba(0, 0, 0, 0.1));
            @include border-radius(10px);

            > .head {
                > .tag {
                    font-size: 18px;
                    color: $coollife-main;
                    line-height: 2;
                    display: inline-block;

                    &::before {
                        content: "\f111";
                        font-family: FontAwesome;
                        margin-right: 8px;
                    }
                }

                > .title {
                    font-size: 36px;
                    color: #000;
                    line-height: 1.2;
                    position: relative;
                    margin: 10px auto 60px;

                    &::after {
                        content: "";
                        position: absolute;
                        left: 50%;
                        height: 5px;
                        width: 40px;
                        margin-left: -20px;
                        bottom: -25px;
                        background: $coollife-2nd;
                    }
                }

                > .author {
                    float: right;
                    font-size: 12px;
                    color: #ccc;
                    line-height: 2;

                    &::before {
                    content: "\f017";
                    font-family: FontAwesome;
                    //color: $coollife-2nd;
                    
                    margin-right: 5px;
                    font-size:18px;
                    line-height: 24px;
                    vertical-align: middle;
                }
                }
            }

            > .tags {
                margin-top: 60px;
                padding: 20px 0 20px;
                border-top: 1px solid $coollife-2nd;
                border-bottom: 1px solid $coollife-2nd;

                &::before {
                    content: "\f097";
                    font-family: FontAwesome;
                    color: $coollife-2nd;
                    font-size: 20px;
                    margin-right: 10px;
                    //line-height: 1;
                }

                a {
                    display: inline-block;
                    text-decoration: none;
                    margin-right: 10px;
                    margin-bottom: 6px;
                    line-height: 1.5;
                    font-size: 14px;
                    color: $coollife-2nd;
                    font-weight: bold;
                }
            }

            > .editor {
                line-height: 1.5;
            }

            > .nav {
                margin: 30px auto;

                > div {
                    a {
                        display: block;
                        text-decoration: none;
                    }

                    width: 50%;
                    float: left;
                    height: 100px;
                    padding-right: 2%;
                    overflow: hidden;

                    @include box;

                    &:first-child {
                        border-right: 1px solid rgba(0, 0, 0, 0.2);
                    }

                    .thumb {
                        width: 40%;
                        height: 100%;
                        float: left;
                        margin-right: 10px;
                        position: relative;

                        &:before {
                            content: "上一則";
                            letter-spacing: 0.125em;
                            display: block;
                            text-align: center;
                            line-height: 100px;
                            width: 100%;
                            height: 100%;
                            color: #fff;
                            background: rgba(0, 0, 0, 0.6);
                        }
                    }

                    .tag {
                        font-size: 12px;
                        color: $coollife-main;
                        line-height: 2;
                        display: inline-block;

                        &::before {
                            content: "\f111";
                            font-family: FontAwesome;
                            margin-right: 8px;
                        }
                    }

                    .title {
                        font-size: 14px;
                        color: #000;
                        line-height: 1.5;
                    }

                    &.next {
                        padding-right: 0%;
                        padding-left: 2%;

                        .thumb {
                            float: right;
                            margin-right: 0px;
                            margin-left: 10px;

                            &:before {
                                content: "下一則";
                            }
                        }
                    }
                }

                &::after {
                    content: "";
                    display: block;
                    clear: both;
                    visibility: hidden;
                    height: 0;
                }
            }
        }
    }

    > .sub {
        width: 33%;
        float: right;
        overflow: hidden;

        @include border-radius(10px 10px 0 0);

        .filter {
            > div {
                float: left;
            }

            .main {
                width: 50%;
                text-align: center;
                font-size: 18px;
                line-height: 50px;
                color: #fff;
                background: #d38600;
                letter-spacing: 0.125em;
                cursor: pointer;

                &.active {
                    color: $coollife-2nd;
                    background: $coollife-main;
                }
            }

            .sub {
                width: 100%;
                border-top: 5px solid $coollife-main;
                border-bottom: 5px solid $coollife-main;
                height: 50px;
                background: #333;
                overflow: hidden;
                position: relative;

                ::-webkit-scrollbar {
                    display: none;
                }

                .list-area {
                    width: 90%;
                    height: 50px;
                    margin: 0 auto;
                    overflow: hidden;

                    .list {
                        position: relative;
                        left: 0;
                        white-space: nowrap;
                        height: 50px;

                        @include transition(left, 0.3s);

                        a {
                            display: inline-block;
                            font-size: 14px;
                            height: 50px;
                            line-height: 50px;
                            padding: 0 5px;
                            text-decoration: none;
                            color: #fff;
                        }
                    }
                }

                .prev, .next {
                    position: absolute;
                    height: 50px;
                    width: 5%;
                    top: 0;
                    left: 0;
                    text-align: center;
                    cursor: pointer;

                    &::after {
                        line-height: 50px;
                        font-size: 12px;
                        content: "\f053";
                        font-family: FontAwesome;
                        color: $coollife-main;
                    }
                }

                .next {
                    left: auto;
                    right: 0;

                    &::after {
                        content: "\f054";
                    }
                }
            }

            &::after {
                content: "";
                display: block;
                clear: both;
                visibility: hidden;
                height: 0;
            }
        }

        .news {
            a {
                display: block;
                height: 100px;
                background: #fff;
                margin-bottom: 1px;

                @include box;

                padding-right: 15px;
                overflow: hidden;
                text-decoration: none;

                &:hover{
                    .thumb{
                        @include opacity(0.8);
                    }
                }

                .thumb {
                    width: 45%;
                    float: left;
                    height: 100px;
                    margin-right: 10px;
                    @include transition(opacity, 0.3s);
                }

                .info {
                    margin-top: 10px;

                    .tag {
                        color: $coollife-main;
                        font-size: 12px;
                        line-height: 2;

                        &::before {
                            content: "\f111";
                            font-family: FontAwesome;
                            margin-right: 8px;
                        }
                    }

                    .title {
                        color: #000;
                        font-size: 14px;
                        line-height: 1.5;
                    }
                }
            }
        }
    }

    &::after {
        content: "";
        display: block;
        clear: both;
        visibility: hidden;
        height: 0;
    }
}

@media screen and (max-width: $mobile) {
    @import "./layout_m";
}