@charset "UTF-8";
/* line 7, ../sass/layout.scss */
html, body {
  font-family: "儷黑 Pro", "LiHei Pro","文泉驛正黑", "WenQuanYi Zen Hei", "微軟正黑體", "Microsoft JhengHei", "新細明體", sans-serif, Arial, Helvetica;
  background: #f8f8f8;
}

/* line 12, ../sass/layout.scss */
body {
  margin-top: 160px;
}

/* line 16, ../sass/layout.scss */
.head {
  width: 95%;
  margin: 0 auto 50px;
}
/* line 20, ../sass/layout.scss */
.head h2 {
  font-size: 24px;
  font-weight: bold;
  color: #666;
  line-height: 1.5;
  letter-spacing: 0.125em;
}
/* line 28, ../sass/layout.scss */
.head h3 {
  font-size: 12px;
  color: #ca3537;
  line-height: 1.5;
  letter-spacing: 0.125em;
}
/* line 35, ../sass/layout.scss */
.head .filter {
  float: right;
  white-space: nowrap;
  position: relative;
  top: -40px;
}
/* line 41, ../sass/layout.scss */
.head .filter > div {
  display: inline-block;
  font-size: 14px;
  line-height: 40px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #999;
  padding: 0 10px;
  letter-spacing: 0.125em;
  cursor: pointer;
}
/* line 53, ../sass/layout.scss */
.head .filter > div.active {
  background: #ca3537;
  color: #fff;
}
/* line 59, ../sass/layout.scss */
.head .filter select, .head .filter option {
  border: none;
  overflow: hidden;
  text-align: center;
  letter-spacing: 0.125em;
  color: #fff;
  outline: none;
  height: 40px;
  line-height: 40px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  padding: 0 50px 0 20px;
  font-size: 14px;
  background: #ca3537 url("../images/dropdown.png") no-repeat right 10px center;
  background-size: 10px 10px;
}
/* line 77, ../sass/layout.scss */
.head .filter select::-ms-expand, .head .filter option::-ms-expand {
  /* for IE 11 */
  display: none;
}
/* line 82, ../sass/layout.scss */
.head .filter select:focus, .head .filter option:focus {
  outline: none;
}
/* line 87, ../sass/layout.scss */
.head .filter option {
  height: 40px;
  line-height: 40px;
  background: #fff;
  color: #333;
}

/* line 96, ../sass/layout.scss */
.header {
  width: 100%;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
/* line 105, ../sass/layout.scss */
.header.simple {
  background: white;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
/* line 111, ../sass/layout.scss */
.header.simple .mid .logo {
  width: 94px;
  height: 29px;
  background-size: 94px 29px;
  margin: 10px 0 0px;
  display: none;
}
/* line 119, ../sass/layout.scss */
.header.simple .mid .broadcast {
  margin-top: 10px;
  display: none;
}
/* line 124, ../sass/layout.scss */
.header.simple .mid .onAirDramas {
  max-width: none;
}
/* line 127, ../sass/layout.scss */
.header.simple .mid .onAirDramas a {
  line-height: 39px;
}
/* line 134, ../sass/layout.scss */
.header .topBar {
  height: 40px;
  background: #333;
}
/* line 138, ../sass/layout.scss */
.header .topBar .content {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
/* line 143, ../sass/layout.scss */
.header .topBar .content .leftPart {
  float: left;
}
/* line 146, ../sass/layout.scss */
.header .topBar .content .leftPart a {
  line-height: 40px;
  color: #ccc;
  font-size: 14px;
  text-decoration: none;
  height: 40px;
  padding: 0 15px;
  display: inline-block;
  letter-spacing: 0.1em;
  float: left;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
/* line 159, ../sass/layout.scss */
.header .topBar .content .leftPart a:hover, .header .topBar .content .leftPart a.active {
  color: #fff;
}
/* line 164, ../sass/layout.scss */
.header .topBar .content .leftPart a.main::before {
  content: "\f0ac";
  font-family: FontAwesome;
  margin-right: 5px;
  font-size: 18px;
}
/* line 172, ../sass/layout.scss */
.header .topBar .content .leftPart a.news {
  letter-spacing: 0.2em;
}
/* line 175, ../sass/layout.scss */
.header .topBar .content .leftPart a.news:hover, .header .topBar .content .leftPart a.news.active {
  background: #207C79;
}
/* line 180, ../sass/layout.scss */
.header .topBar .content .leftPart a.drama {
  letter-spacing: 0.2em;
}
/* line 183, ../sass/layout.scss */
.header .topBar .content .leftPart a.drama:hover, .header .topBar .content .leftPart a.drama.active {
  background: #ca3537;
}
/* line 188, ../sass/layout.scss */
.header .topBar .content .leftPart a.show {
  letter-spacing: 0.2em;
}
/* line 191, ../sass/layout.scss */
.header .topBar .content .leftPart a.show:hover, .header .topBar .content .leftPart a.show.active {
  background: #CC7835;
}
/* line 198, ../sass/layout.scss */
.header .topBar .content .rightPart {
  float: right;
}
/* line 201, ../sass/layout.scss */
.header .topBar .content .rightPart a {
  line-height: 40px;
  color: #ccc;
  font-size: 14px;
  text-decoration: none;
  height: 40px;
  padding: 0 10px;
  display: inline-block;
  letter-spacing: 0.1em;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
/* line 213, ../sass/layout.scss */
.header .topBar .content .rightPart a:hover {
  color: #fff;
}
/* line 218, ../sass/layout.scss */
.header .topBar .content .rightPart .search {
  height: 40px;
  min-width: 40px;
  background: #999;
  display: inline-block;
  float: right;
  position: relative;
}
/* line 226, ../sass/layout.scss */
.header .topBar .content .rightPart .search::before {
  content: "\f002";
  font-family: FontAwesome;
  color: #fff;
  font-size: 15px;
  position: absolute;
  top: 0;
  left: 13px;
  line-height: 40px;
  pointer-events: none;
}
/* line 239, ../sass/layout.scss */
.header .topBar .content .rightPart .search:hover input[type=text], .header .topBar .content .rightPart .search:active input[type=text] {
  width: 200px;
}
/* line 243, ../sass/layout.scss */
.header .topBar .content .rightPart .search:hover span, .header .topBar .content .rightPart .search:active span {
  width: 40px;
}
/* line 248, ../sass/layout.scss */
.header .topBar .content .rightPart .search span {
  display: inline-block;
  width: 0px;
  height: 40px;
  cursor: pointer;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
/* line 257, ../sass/layout.scss */
.header .topBar .content .rightPart .search input[type=text] {
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  font-size: 14px;
  margin: 0;
  color: #fff;
  line-height: 40px;
  height: 40px;
  width: 0px;
  display: inline-block;
  border: 0;
  outline: none;
  background: #999;
}
/* line 271, ../sass/layout.scss */
.header .topBar .content .rightPart .search input[type=text]:focus {
  border: 0;
  outline: none;
}
/* line 279, ../sass/layout.scss */
.header .topBar .content::after {
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
}
/* line 289, ../sass/layout.scss */
.header .mid {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
}
/* line 294, ../sass/layout.scss */
.header .mid .logo {
  display: inline-block;
  width: 188px;
  height: 58px;
  background: url("../images/logo.png") no-repeat center center;
  background-size: 188px 58px;
  margin: 30px 0 0px;
  vertical-align: text-bottom;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
/* line 306, ../sass/layout.scss */
.header .mid .onAirDramas {
  display: inline-block;
  vertical-align: text-bottom;
  margin-left: 20px;
  max-width: 40%;
}
/* line 312, ../sass/layout.scss */
.header .mid .onAirDramas a {
  color: #666;
  font-size: 12px;
  letter-spacing: 0.125em;
  line-height: 30px;
  padding: 0 5px;
  display: inline-block;
  text-decoration: none;
}
/* line 321, ../sass/layout.scss */
.header .mid .onAirDramas a::before {
  content: "\f111";
  font-family: FontAwesome;
  color: #ca3537;
  margin-right: 2px;
}
/* line 328, ../sass/layout.scss */
.header .mid .onAirDramas a:hover {
  color: #ca3537;
}
/* line 334, ../sass/layout.scss */
.header .mid .broadcast {
  width: 30%;
  height: 30px;
  margin-top: 50px;
  overflow: hidden;
  text-align: right;
  vertical-align: text-bottom;
  float: right;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
/* line 345, ../sass/layout.scss */
.header .mid .broadcast a {
  text-decoration: none;
  display: block;
  width: 100%;
  font-size: 18px;
  color: #000;
  line-height: 30px;
  height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  letter-spacing: 0.1em;
  float: left;
}
/* line 359, ../sass/layout.scss */
.header .mid .broadcast a:hover {
  color: #ca3537;
  text-decoration: underline;
}
/* line 364, ../sass/layout.scss */
.header .mid .broadcast a::before {
  content: "\f143";
  font-family: FontAwesome;
  color: #ca3537;
  font-size: 18px;
  margin-right: 8px;
}
/* line 373, ../sass/layout.scss */
.header .mid .broadcast .list {
  position: relative;
  top: 0;
  -webkit-transition: top 0.5s;
  transition: top 0.5s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
/* line 379, ../sass/layout.scss */
.header .mid .broadcast .list::after {
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
}

/* line 391, ../sass/layout.scss */
.banner {
  width: 100%;
  margin: 0px auto 0;
  position: relative;
}
/* line 396, ../sass/layout.scss */
.banner .banner_area {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
/* line 401, ../sass/layout.scss */
.banner .banner_area .list {
  position: relative;
  width: calc(100% - 100px);
  padding-top: 39%;
  background: #fff;
  margin-left: 100px;
  overflow: hidden;
  z-index: 1;
}
/* line 410, ../sass/layout.scss */
.banner .banner_area .list a {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
  opacity: 0;
  -moz-opacity: 0;
  -khtml-opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.8s;
  transition: opacity 0.8s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
/* line 423, ../sass/layout.scss */
.banner .banner_area .list a img {
  display: none;
}
/* line 427, ../sass/layout.scss */
.banner .banner_area .list a.selected {
  opacity: 1;
  -moz-opacity: 1;
  -khtml-opacity: 1;
  filter: alpha(opacity=100);
}
/* line 433, ../sass/layout.scss */
.banner .banner_area .info {
  position: relative;
  width: 100%;
  height: 100px;
  background: #ca3537;
  z-index: 5;
}
/* line 440, ../sass/layout.scss */
.banner .banner_area .info > h2 {
  margin: 0 30px 0 100px;
  font-size: 24px;
  color: #fff;
  letter-spacing: 0.125em;
  line-height: 90px;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-top: 5px solid #fff;
  display: inline-block;
}
/* line 454, ../sass/layout.scss */
.banner .banner_area .info > h3 {
  font-size: 14px;
  color: #000;
  letter-spacing: 0.125em;
  line-height: 100px;
  display: inline-block;
  float: left;
}
/* line 462, ../sass/layout.scss */
.banner .banner_area .info > h3::before {
  content: "\f017";
  font-family: FontAwesome;
  color: #000;
  margin-right: 5px;
}
/* line 470, ../sass/layout.scss */
.banner .banner_area .info > a {
  float: right;
  display: inline-block;
  height: 100px;
  line-height: 100px;
  background: #b53031;
  text-align: center;
  font-size: 14px;
  letter-spacing: 0.2em;
  color: #fff;
  width: 20%;
  text-decoration: none;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
/* line 485, ../sass/layout.scss */
.banner .banner_area .info > a:hover {
  background: #8e2a2b;
}
/* line 489, ../sass/layout.scss */
.banner .banner_area .info > a::before {
  content: "\f008";
  font-family: FontAwesome;
  margin-right: 8px;
}
/* line 496, ../sass/layout.scss */
.banner .banner_area .info .nav {
  position: absolute;
  height: 251px;
  width: 100px;
  top: -250px;
  left: 0;
  background: #ca3537;
}
/* line 504, ../sass/layout.scss */
.banner .banner_area .info .nav > div {
  float: left;
  width: 100%;
  text-align: center;
}
/* line 509, ../sass/layout.scss */
.banner .banner_area .info .nav > div.btn {
  height: 100px;
  line-height: 100px;
  cursor: pointer;
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
/* line 517, ../sass/layout.scss */
.banner .banner_area .info .nav > div.btn .thumb {
  position: absolute;
  z-index: 0;
  height: 100%;
  width: 100%;
  max-width: 0;
  overflow: hidden;
  top: 0;
  left: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
/* line 529, ../sass/layout.scss */
.banner .banner_area .info .nav > div.btn .thumb::after {
  content: "";
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}
/* line 539, ../sass/layout.scss */
.banner .banner_area .info .nav > div.btn::after {
  position: relative;
  z-index: 5;
  font-size: 14px;
  content: "\f054";
  font-family: FontAwesome;
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
/* line 550, ../sass/layout.scss */
.banner .banner_area .info .nav > div.btn:hover {
  width: 200px;
}
/* line 553, ../sass/layout.scss */
.banner .banner_area .info .nav > div.btn:hover::after {
  color: white;
  font-size: 24px;
}
/* line 558, ../sass/layout.scss */
.banner .banner_area .info .nav > div.btn:hover .thumb {
  max-width: 100%;
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
}
/* line 568, ../sass/layout.scss */
.banner .banner_area .info .nav > div.btn.prev::after {
  content: "\f053";
}
/* line 574, ../sass/layout.scss */
.banner .banner_area .info .nav > div.ind {
  height: 50px;
  line-height: 48px;
  letter-spacing: 0.2em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 12px;
  color: #fff;
}
/* line 589, ../sass/layout.scss */
.banner .banner_area .info::after {
  content: "";
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 30%;
  pointer-events: none;
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.2), transparent);
  background: -o-linear-gradient(rgba(0, 0, 0, 0.2), transparent);
  background: -moz-linear-gradient(rgba(0, 0, 0, 0.2), transparent);
  background: linear-gradient(rgba(0, 0, 0, 0.2), transparent);
}
/* line 606, ../sass/layout.scss */
.banner::after {
  content: "";
  position: absolute;
  z-index: 0;
  display: block;
  height: 350px;
  width: 100%;
  background: #ca3537;
  bottom: 0;
}

/* line 618, ../sass/layout.scss */
.onAir {
  width: 100%;
  max-width: 1200px;
  padding: 50px 0;
  margin: 0 auto;
}
/* line 624, ../sass/layout.scss */
.onAir .list-area {
  width: 100%;
  margin: 0;
  position: relative;
  white-space: nowrap;
}
/* line 630, ../sass/layout.scss */
.onAir .list-area .prev, .onAir .list-area .next {
  position: absolute;
  z-index: 5;
  width: 40px;
  height: 40px;
  background: #ca3537;
  cursor: pointer;
  text-align: center;
  top: 50%;
  left: 0;
  margin-top: -15px;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
/* line 644, ../sass/layout.scss */
.onAir .list-area .prev::after, .onAir .list-area .next::after {
  line-height: 40px;
  font-size: 12px;
  content: "\f053";
  font-family: FontAwesome;
  color: #fff;
}
/* line 653, ../sass/layout.scss */
.onAir .list-area .next {
  left: auto;
  right: 0;
}
/* line 657, ../sass/layout.scss */
.onAir .list-area .next::after {
  content: "\f054";
}
/* line 662, ../sass/layout.scss */
.onAir .list-area .list-content {
  overflow: hidden;
}
/* line 670, ../sass/layout.scss */
.onAir .list-area .list-content .list {
  position: relative;
  left: 0px;
  -webkit-transition: left 0.5s;
  transition: left 0.5s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
/* line 678, ../sass/layout.scss */
.onAir .list-area a {
  display: inline-block;
  width: calc(50% - 30px);
  background: #fff;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 15px;
  border: 1px solid #eee;
  text-decoration: none;
}
/* line 690, ../sass/layout.scss */
.onAir .list-area a .thumb {
  position: relative;
  width: 100%;
  padding-top: 40%;
  overflow: hidden;
  z-index: 1;
  background: #fff;
  opacity: 0;
  -moz-opacity: 0;
  -khtml-opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
/* line 701, ../sass/layout.scss */
.onAir .list-area a .thumb.active {
  opacity: 1;
  -moz-opacity: 1;
  -khtml-opacity: 1;
  filter: alpha(opacity=100);
}
/* line 706, ../sass/layout.scss */
.onAir .list-area a .info {
  width: 100%;
  height: 180px;
  overflow: hidden;
  z-index: 2;
  white-space: normal;
}
/* line 713, ../sass/layout.scss */
.onAir .list-area a .info .time {
  width: 120px;
  float: left;
  height: 100%;
  text-align: center;
  color: #ca3537;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  border-top: 5px solid #ca3537;
  border-right: 1px solid #eee;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.1em;
}
/* line 729, ../sass/layout.scss */
.onAir .list-area a .info .time::before {
  line-height: 65px;
  font-size: 30px;
  content: "\f017";
  font-family: FontAwesome;
  display: block;
}
/* line 738, ../sass/layout.scss */
.onAir .list-area a .info .title {
  font-size: 36px;
  color: #000;
  line-height: 1.2;
  margin: 20px 20px 0px 140px;
  letter-spacing: 0.125em;
  display: block;
  display: -webkit-box;
  max-height: 86.4px;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 753, ../sass/layout.scss */
.onAir .list-area a .info .brief {
  margin: 20px 20px 20px 140px;
  font-size: 14px;
  color: #666;
  line-height: 1.5;
  height: 42px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  letter-spacing: 0.1em;
}
/* line 770, ../sass/layout.scss */
.onAir .list-area a:hover .thumb {
  opacity: 0.8;
  -moz-opacity: 0.8;
  -khtml-opacity: 0.8;
  filter: alpha(opacity=80);
}
/* line 776, ../sass/layout.scss */
.onAir .list-area::after {
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
}

/* line 786, ../sass/layout.scss */
.review_out {
  width: 100%;
  background: #ca3537;
  padding: 50px 0;
}
/* line 791, ../sass/layout.scss */
.review_out .review {
  width: 100%;
  max-width: 1200px;
  margin: 0px auto;
}
/* line 797, ../sass/layout.scss */
.review_out .review .head h2 {
  color: #fff;
}
/* line 801, ../sass/layout.scss */
.review_out .review .head h3 {
  color: #333;
}
/* line 806, ../sass/layout.scss */
.review_out .review .list-area {
  width: 95%;
  margin: 0 auto;
  position: relative;
  white-space: nowrap;
}
/* line 812, ../sass/layout.scss */
.review_out .review .list-area .prev, .review_out .review .list-area .next {
  position: absolute;
  z-index: 5;
  width: 30px;
  height: 200px;
  background: rgba(0, 0, 0, 0.3);
  cursor: pointer;
  text-align: center;
  top: 50%;
  left: -30px;
  margin-top: -100px;
}
/* line 824, ../sass/layout.scss */
.review_out .review .list-area .prev::after, .review_out .review .list-area .next::after {
  line-height: 200px;
  font-size: 12px;
  content: "\f053";
  font-family: FontAwesome;
  color: #fff;
}
/* line 833, ../sass/layout.scss */
.review_out .review .list-area .next {
  left: auto;
  right: -30px;
}
/* line 837, ../sass/layout.scss */
.review_out .review .list-area .next::after {
  content: "\f054";
}
/* line 842, ../sass/layout.scss */
.review_out .review .list-area .list-content {
  overflow: hidden;
}
/* line 850, ../sass/layout.scss */
.review_out .review .list-area .list-content .list {
  position: relative;
  left: 0px;
  -webkit-transition: left 0.5s;
  transition: left 0.5s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
/* line 858, ../sass/layout.scss */
.review_out .review .list-area a {
  display: inline-block;
  width: calc(25% - 10px);
  background: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 5px 25px;
  text-decoration: none;
  -webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5);
}
/* line 872, ../sass/layout.scss */
.review_out .review .list-area a.video .thumb::after {
  display: block;
}
/* line 878, ../sass/layout.scss */
.review_out .review .list-area a .thumb {
  position: relative;
  width: 100%;
  padding-top: 60%;
  overflow: hidden;
  z-index: 1;
  background: #fff;
  opacity: 0;
  -moz-opacity: 0;
  -khtml-opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
/* line 889, ../sass/layout.scss */
.review_out .review .list-area a .thumb.active {
  opacity: 1;
  -moz-opacity: 1;
  -khtml-opacity: 1;
  filter: alpha(opacity=100);
}
/* line 893, ../sass/layout.scss */
.review_out .review .list-area a .thumb::after {
  font-size: 48px;
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  content: "\f16a";
  font-family: FontAwesome;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -25px;
  margin-left: -25px;
  text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
  display: none;
}
/* line 912, ../sass/layout.scss */
.review_out .review .list-area a .info {
  width: 100%;
  height: 150px;
  z-index: 2;
  white-space: normal;
  position: relative;
}
/* line 919, ../sass/layout.scss */
.review_out .review .list-area a .info .time {
  position: absolute;
  font-size: 12px;
  width: 70%;
  left: 15%;
  bottom: -15px;
  line-height: 30px;
  text-align: center;
  color: #ccc;
  background: #333;
  letter-spacing: 0.125em;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
}
/* line 934, ../sass/layout.scss */
.review_out .review .list-area a .info .time::before {
  content: "\f017";
  font-family: FontAwesome;
  margin-right: 5px;
}
/* line 941, ../sass/layout.scss */
.review_out .review .list-area a .info .title {
  font-size: 14px;
  color: #ca3537;
  line-height: 1.5;
  margin: 15px;
  letter-spacing: 0.125em;
  display: block;
  display: -webkit-box;
}
/* line 951, ../sass/layout.scss */
.review_out .review .list-area a .info .brief {
  margin: 15px;
  font-size: 12px;
  color: #666;
  line-height: 1.5;
  height: 42px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  letter-spacing: 0.1em;
}
/* line 968, ../sass/layout.scss */
.review_out .review .list-area a:hover .thumb {
  opacity: 0.8;
  -moz-opacity: 0.8;
  -khtml-opacity: 0.8;
  filter: alpha(opacity=80);
}
/* line 974, ../sass/layout.scss */
.review_out .review .list-area::after {
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
}

/* line 985, ../sass/layout.scss */
.threeColumn {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
/* line 991, ../sass/layout.scss */
.threeColumn > div:first-child {
  width: 66%;
  float: left;
}
/* line 1001, ../sass/layout.scss */
.threeColumn > div:last-child {
  width: 30%;
  float: right;
}
/* line 1007, ../sass/layout.scss */
.threeColumn .news {
  padding: 50px 0;
  background: #fff;
  border-right: 1px solid #eee;
}
/* line 1012, ../sass/layout.scss */
.threeColumn .news.single {
  border-right: 0px solid #eee;
  border-bottom: 0px solid #eee;
  background: none;
}
/* line 1018, ../sass/layout.scss */
.threeColumn .news.single .list a {
  display: block;
  float: none;
  width: 90%;
  margin: 10px 5%;
}
/* line 1025, ../sass/layout.scss */
.threeColumn .news.single .list a:first-child .thumb, .threeColumn .news.single .list a:nth-child(5) .thumb {
  width: 100%;
  padding-top: 60%;
  float: none;
}
/* line 1031, ../sass/layout.scss */
.threeColumn .news.single .list a:first-child .info, .threeColumn .news.single .list a:nth-child(5) .info {
  margin-left: 0;
}
/* line 1034, ../sass/layout.scss */
.threeColumn .news.single .list a:first-child .info .title, .threeColumn .news.single .list a:nth-child(5) .info .title {
  font-size: 18px;
  line-height: 36px;
  margin: 20px 0;
}
/* line 1042, ../sass/layout.scss */
.threeColumn .news.single .list a:nth-child(5) {
  float: none;
}
/* line 1048, ../sass/layout.scss */
.threeColumn .news.single .head {
  width: 90%;
}
/* line 1051, ../sass/layout.scss */
.threeColumn .news.single .head .filter {
  position: static;
  float: none;
  border-bottom: 1px solid #ddd;
}
/* line 1057, ../sass/layout.scss */
.threeColumn .news.single .head .filter > div {
  display: inline-block;
  font-size: 14px;
  line-height: 40px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #999;
  padding: 0 10px;
  letter-spacing: 0.125em;
  cursor: pointer;
}
/* line 1069, ../sass/layout.scss */
.threeColumn .news.single .head .filter > div.active {
  background: none;
  border-bottom: 5px solid #ca3537;
  color: #ca3537;
}
/* line 1079, ../sass/layout.scss */
.threeColumn .news .list {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0px;
}
/* line 1084, ../sass/layout.scss */
.threeColumn .news .list a {
  display: inline-block;
  float: left;
  width: 44%;
  margin: 10px 3%;
  text-decoration: none;
  border-bottom: 1px solid #eee;
  color: #999;
}
/* line 1094, ../sass/layout.scss */
.threeColumn .news .list a:first-child .thumb, .threeColumn .news .list a:nth-child(5) .thumb {
  width: 100%;
  padding-top: 60%;
  float: none;
}
/* line 1100, ../sass/layout.scss */
.threeColumn .news .list a:first-child .info, .threeColumn .news .list a:nth-child(5) .info {
  margin-left: 0;
}
/* line 1103, ../sass/layout.scss */
.threeColumn .news .list a:first-child .info .title, .threeColumn .news .list a:nth-child(5) .info .title {
  font-size: 18px;
  line-height: 36px;
  margin: 20px 0;
}
/* line 1111, ../sass/layout.scss */
.threeColumn .news .list a:nth-child(5) {
  float: right;
}
/* line 1115, ../sass/layout.scss */
.threeColumn .news .list a:hover {
  text-decoration: underline;
}
/* line 1119, ../sass/layout.scss */
.threeColumn .news .list a .thumb {
  width: 30%;
  padding-top: 20%;
  float: left;
  opacity: 0;
  -moz-opacity: 0;
  -khtml-opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
/* line 1127, ../sass/layout.scss */
.threeColumn .news .list a .thumb.active {
  opacity: 1;
  -moz-opacity: 1;
  -khtml-opacity: 1;
  filter: alpha(opacity=100);
}
/* line 1131, ../sass/layout.scss */
.threeColumn .news .list a .thumb:hover {
  opacity: 0.8;
  -moz-opacity: 0.8;
  -khtml-opacity: 0.8;
  filter: alpha(opacity=80);
}
/* line 1136, ../sass/layout.scss */
.threeColumn .news .list a .info {
  margin-left: 35%;
}
/* line 1139, ../sass/layout.scss */
.threeColumn .news .list a .info .title {
  color: #ca3537;
  font-size: 14px;
  line-height: 28px;
  height: 28px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  letter-spacing: 0.1em;
}
/* line 1150, ../sass/layout.scss */
.threeColumn .news .list a .info .brief {
  font-size: 12px;
  color: #000;
  max-height: 36px;
  line-height: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
/* line 1163, ../sass/layout.scss */
.threeColumn .news .list a .info .time {
  margin: 10px 0;
  font-size: 12px;
  color: #ccc;
  line-height: 20px;
  letter-spacing: 0.1em;
}
/* line 1170, ../sass/layout.scss */
.threeColumn .news .list a .info .time::before {
  content: "\f017";
  font-family: FontAwesome;
  margin-right: 5px;
}
/* line 1178, ../sass/layout.scss */
.threeColumn .news .list a::after {
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
}
/* line 1187, ../sass/layout.scss */
.threeColumn .news .list::after {
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
}
/* line 1197, ../sass/layout.scss */
.threeColumn .social {
  padding: 50px 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
}
/* line 1205, ../sass/layout.scss */
.threeColumn::after {
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
}

/* line 1214, ../sass/layout.scss */
.wideBanner {
  width: 100%;
  height: 70%;
  position: relative;
}
/* line 1219, ../sass/layout.scss */
.wideBanner::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: url("../images/dots.png") repeat;
}
/* line 1231, ../sass/layout.scss */
.wideBanner .title {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  font-size: 36px;
  letter-spacing: 0.2em;
  max-width: 80%;
  line-height: 1.2;
  color: #fff;
  text-align: center;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* line 1245, ../sass/layout.scss */
.wideBanner .title::before {
  content: "\f008";
  width: 40px;
  height: 40px;
  color: #fff;
  background: #ca3537;
  font-size: 14px;
  text-align: center;
  line-height: 40px;
  letter-spacing: 0;
  font-family: FontAwesome;
  display: block;
  margin: 10px auto;
  border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
}
/* line 1263, ../sass/layout.scss */
.wideBanner .thumb {
  height: 100%;
  opacity: 0;
  -moz-opacity: 0;
  -khtml-opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  background-attachment: fixed;
}
/* line 1271, ../sass/layout.scss */
.wideBanner .thumb.active {
  opacity: 1;
  -moz-opacity: 1;
  -khtml-opacity: 1;
  filter: alpha(opacity=100);
}

/* line 1277, ../sass/layout.scss */
.dramaDetail {
  margin: 50px 0;
}
/* line 1280, ../sass/layout.scss */
.dramaDetail > div {
  width: 90%;
  margin: 5px auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 25px;
  border: 1px solid #ddd;
  background: #fff;
}
/* line 1290, ../sass/layout.scss */
.dramaDetail > div .head {
  width: 100%;
}
/* line 1295, ../sass/layout.scss */
.dramaDetail .info {
  background: #ccc;
}
/* line 1298, ../sass/layout.scss */
.dramaDetail .info > div {
  font-size: 14px;
  color: #000;
  line-height: 1.5;
  margin: 5px 0;
  margin-left: 90px;
  letter-spacing: 0.1em;
  position: relative;
}
/* line 1307, ../sass/layout.scss */
.dramaDetail .info > div span {
  position: absolute;
  left: -90px;
  color: #fff;
}
/* line 1315, ../sass/layout.scss */
.dramaDetail .textOnly {
  font-size: 14px;
  line-height: 1.5;
  color: #000;
  letter-spacing: 0.1em;
}
/* line 1321, ../sass/layout.scss */
.dramaDetail .textOnly p {
  margin: 8px 0;
}
/* line 1327, ../sass/layout.scss */
.dramaDetail .characterList > div {
  margin-bottom: 10px;
}
/* line 1330, ../sass/layout.scss */
.dramaDetail .characterList > div .thumb {
  width: 100px;
  height: 130px;
  float: left;
  opacity: 0;
  -moz-opacity: 0;
  -khtml-opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
/* line 1338, ../sass/layout.scss */
.dramaDetail .characterList > div .thumb.active {
  opacity: 1;
  -moz-opacity: 1;
  -khtml-opacity: 1;
  filter: alpha(opacity=100);
}
/* line 1343, ../sass/layout.scss */
.dramaDetail .characterList > div .about {
  margin-left: 120px;
  display: flex;
}
/* line 1347, ../sass/layout.scss */
.dramaDetail .characterList > div .about > div:first-child {
  -webkit-flex: 1;
  flex: 1;
  letter-spacing: 0.1em;
}
/* line 1351, ../sass/layout.scss */
.dramaDetail .characterList > div .about > div:first-child h2 {
  font-size: 16px;
  font-weight: bold;
  color: #000;
  line-height: 1.5;
  margin-bottom: 5px;
}
/* line 1359, ../sass/layout.scss */
.dramaDetail .characterList > div .about > div:first-child h3 {
  font-size: 14px;
  color: #999;
  line-height: 1.5;
}
/* line 1368, ../sass/layout.scss */
.dramaDetail .characterList > div .about > div:last-child {
  border-left: 1px solid #eee;
  padding-left: 20px;
  -webkit-flex: 2;
  flex: 2;
  font-size: 14px;
  line-height: 1.5;
  color: #000;
  letter-spacing: 0.1em;
}
/* line 1380, ../sass/layout.scss */
.dramaDetail .characterList > div::after {
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
}
/* line 1391, ../sass/layout.scss */
.dramaDetail .gallery a {
  display: inline-block;
  float: left;
  position: relative;
}
/* line 1396, ../sass/layout.scss */
.dramaDetail .gallery a img {
  display: none;
}
/* line 1400, ../sass/layout.scss */
.dramaDetail .gallery a .extra {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 24px;
  letter-spacing: 0.125em;
  color: #fff;
  top: 0;
  left: 0;
  text-align: center;
  background: rgba(0, 0, 0, 0.6);
}
/* line 1414, ../sass/layout.scss */
.dramaDetail .gallery::after {
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
}
/* line 1423, ../sass/layout.scss */
.dramaDetail .yt {
  position: relative;
  height: 0;
  padding-bottom: 50.6%;
  background: #000;
}
/* line 1429, ../sass/layout.scss */
.dramaDetail .yt iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 1440, ../sass/layout.scss */
.footer {
  width: 100%;
  border-top: 5px solid #ca3537;
  background: #444;
}
/* line 1445, ../sass/layout.scss */
.footer .mid {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
}
/* line 1450, ../sass/layout.scss */
.footer .mid .sitemap {
  margin: 30px 0;
  width: 75%;
  float: left;
}
/* line 1455, ../sass/layout.scss */
.footer .mid .sitemap > div {
  display: inline-block;
  width: 30%;
  margin: 20px 0;
}
/* line 1460, ../sass/layout.scss */
.footer .mid .sitemap > div a {
  display: block;
  color: #999;
  text-decoration: none;
  font-size: 13px;
  line-height: 1.8;
}
/* line 1467, ../sass/layout.scss */
.footer .mid .sitemap > div a:first-child {
  color: #fff;
}
/* line 1473, ../sass/layout.scss */
.footer .mid .sitemap > div.social a {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: #ccc;
  line-height: 30px;
  text-align: center;
  color: #444;
  font-size: 16px;
  text-decoration: none;
  margin: 5px;
}
/* line 1486, ../sass/layout.scss */
.footer .mid .sitemap > div.social a.fb::before {
  content: "\f09a";
  font-family: FontAwesome;
}
/* line 1493, ../sass/layout.scss */
.footer .mid .sitemap > div.social a.twitter::before {
  content: "\f099";
  font-family: FontAwesome;
}
/* line 1500, ../sass/layout.scss */
.footer .mid .sitemap > div.social a.youtube::before {
  content: "\f16a";
  font-family: FontAwesome;
}
/* line 1507, ../sass/layout.scss */
.footer .mid .sitemap > div.social a.instagram::before {
  content: "\f16d";
  font-family: FontAwesome;
}
/* line 1516, ../sass/layout.scss */
.footer .mid .sitemap::after {
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
}
/* line 1525, ../sass/layout.scss */
.footer .mid .logo {
  width: 25%;
  float: right;
  margin: 50px 0;
}
/* line 1530, ../sass/layout.scss */
.footer .mid .logo img {
  width: 70%;
  height: auto;
}
/* line 1536, ../sass/layout.scss */
.footer .mid::after {
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
}
/* line 1545, ../sass/layout.scss */
.footer .copyright {
  background: #333;
}
/* line 1548, ../sass/layout.scss */
.footer .copyright > div {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
  font-size: 12px;
  line-height: 18px;
  padding: 15px 0;
  text-align: center;
  color: #999;
}

/* line 1561, ../sass/layout.scss */
.share {
  text-align: center;
  padding: 20px 0 40px;
}
/* line 1565, ../sass/layout.scss */
.share a {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: #ca3537;
  line-height: 30px;
  text-align: center;
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  margin: 5px;
}
/* line 1578, ../sass/layout.scss */
.share a.fb::before {
  content: "\f09a";
  font-family: FontAwesome;
}
/* line 1585, ../sass/layout.scss */
.share a.twitter::before {
  content: "\f099";
  font-family: FontAwesome;
}
/* line 1592, ../sass/layout.scss */
.share a.youtube::before {
  content: "\f16a";
  font-family: FontAwesome;
}
/* line 1599, ../sass/layout.scss */
.share a.instagram::before {
  content: "\f16d";
  font-family: FontAwesome;
}

@media screen and (max-width: 850px) {
  /* line 1, ../sass/_layout_m.scss */
  body {
    margin-top: 130px;
  }

  /* line 5, ../sass/_layout_m.scss */
  .head {
    margin: 0 auto 30px;
  }
  /* line 8, ../sass/_layout_m.scss */
  .head h2 {
    text-align: center;
  }
  /* line 12, ../sass/_layout_m.scss */
  .head h3 {
    text-align: center;
  }
  /* line 16, ../sass/_layout_m.scss */
  .head .filter {
    position: static;
    text-align: center;
    float: none;
    margin-top: 40px;
  }

  /* line 31, ../sass/_layout_m.scss */
  .header .topBar {
    background: #333;
  }
  /* line 35, ../sass/_layout_m.scss */
  .header .topBar .content .leftPart {
    float: none;
    display: block;
    width: 100%;
    height: 40px;
  }
  /* line 45, ../sass/_layout_m.scss */
  .header .topBar .content .leftPart a.main::before {
    margin-right: 0;
  }
  /* line 50, ../sass/_layout_m.scss */
  .header .topBar .content .leftPart a.main span {
    display: none;
  }
  /* line 57, ../sass/_layout_m.scss */
  .header .topBar .content .rightPart {
    float: none;
    width: 100%;
    position: absolute;
    top: 40px;
    pointer-events: none;
  }
  /* line 64, ../sass/_layout_m.scss */
  .header .topBar .content .rightPart a {
    display: none;
  }
  /* line 68, ../sass/_layout_m.scss */
  .header .topBar .content .rightPart .search {
    height: 40px;
    min-width: 40px;
    background: #999;
    display: inline-block;
    float: right;
    position: relative;
    pointer-events: auto;
    z-index: 10;
  }
  /* line 79, ../sass/_layout_m.scss */
  .header .topBar .content .rightPart .search:hover input[type=text], .header .topBar .content .rightPart .search:active input[type=text] {
    width: calc(100vw - 40px);
  }
  /* line 83, ../sass/_layout_m.scss */
  .header .topBar .content .rightPart .search:hover span, .header .topBar .content .rightPart .search:active span {
    width: 40px;
  }
  /* line 92, ../sass/_layout_m.scss */
  .header .mid {
    width: 100%;
    position: relative;
  }
  /* line 96, ../sass/_layout_m.scss */
  .header .mid ::-webkit-scrollbar {
    display: none;
  }
  /* line 100, ../sass/_layout_m.scss */
  .header .mid::after {
    content: "\f053";
    font-family: FontAwesome;
    line-height: 39px;
    text-align: left;
    font-size: 12px;
    text-indent: 10px;
    color: #ddd;
    position: absolute;
    width: 40px;
    height: 39px;
    top: 0;
    left: 0px;
    z-index: 5;
    background: #fff;
    background: -webkit-linear-gradient(left, #fff, rgba(255, 255, 255, 0));
    background: -o-linear-gradient(right, #fff, rgba(255, 255, 255, 0));
    background: -moz-linear-gradient(right, #fff, rgba(255, 255, 255, 0));
    background: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
    pointer-events: none;
  }
  /* line 122, ../sass/_layout_m.scss */
  .header .mid::before {
    content: "\f054";
    font-family: FontAwesome;
    position: absolute;
    line-height: 39px;
    color: #ddd;
    font-size: 12px;
    text-align: right;
    width: 40px;
    height: 39px;
    border-right: 10px solid #fff;
    top: 0;
    right: 40px;
    z-index: 5;
    background: #fff;
    background: -webkit-linear-gradient(right, #fff, rgba(255, 255, 255, 0));
    background: -o-linear-gradient(left, #fff, rgba(255, 255, 255, 0));
    background: -moz-linear-gradient(left, #fff, rgba(255, 255, 255, 0));
    background: linear-gradient(to left, #fff, rgba(255, 255, 255, 0));
    pointer-events: none;
  }
  /* line 144, ../sass/_layout_m.scss */
  .header .mid .logo {
    display: block;
    display: none;
    width: 94px;
    height: 29px;
    background-size: 94px 29px;
    margin: 10px 0 0px;
    margin: 20px auto;
  }
  /* line 154, ../sass/_layout_m.scss */
  .header .mid .onAirDramas {
    display: block;
    margin-left: 15px;
    margin-right: 55px;
    max-width: none;
    white-space: nowrap;
    overflow: auto;
    position: relative;
    padding: 0 15px;
  }
  /* line 164, ../sass/_layout_m.scss */
  .header .mid .onAirDramas a {
    line-height: 39px;
  }
  /* line 169, ../sass/_layout_m.scss */
  .header .mid .broadcast {
    width: 90%;
    height: 30px;
    margin: 0 auto;
    overflow: hidden;
    text-align: left;
    float: none;
    border-top: 1px solid #eee;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
  }
  /* line 180, ../sass/_layout_m.scss */
  .header .mid .broadcast a {
    text-decoration: none;
    display: block;
    width: 100%;
    font-size: 16px;
    color: #000;
    line-height: 30px;
    height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    letter-spacing: 0.1em;
    float: left;
  }
  /* line 194, ../sass/_layout_m.scss */
  .header .mid .broadcast a:hover {
    color: #ca3537;
    text-decoration: underline;
  }
  /* line 199, ../sass/_layout_m.scss */
  .header .mid .broadcast a::before {
    content: "\f143";
    font-family: FontAwesome;
    color: #ca3537;
    font-size: 18px;
    margin-right: 8px;
  }
  /* line 208, ../sass/_layout_m.scss */
  .header .mid .broadcast .list {
    position: relative;
    top: 0;
    -webkit-transition: top 0.5s;
    transition: top 0.5s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
  }
  /* line 214, ../sass/_layout_m.scss */
  .header .mid .broadcast .list::after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
  }

  /* line 226, ../sass/_layout_m.scss */
  .banner {
    margin: 0 auto 0;
  }
  /* line 230, ../sass/_layout_m.scss */
  .banner .banner_area .list {
    width: 100%;
    padding-top: 75%;
    margin-left: 0px;
  }
  /* line 236, ../sass/_layout_m.scss */
  .banner .banner_area .info {
    position: relative;
    width: 100%;
    height: auto;
    background: #ca3537;
    z-index: 5;
    padding-top: 10px;
  }
  /* line 244, ../sass/_layout_m.scss */
  .banner .banner_area .info > h2 {
    margin: 0;
    font-size: 18px;
    color: #fff;
    line-height: 40px;
    float: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 20px;
    border-top: 0px solid #fff;
    display: block;
  }
  /* line 258, ../sass/_layout_m.scss */
  .banner .banner_area .info > h3 {
    margin: 0;
    font-size: 14px;
    color: #000;
    line-height: 28px;
    display: block;
    float: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 20px 10px;
  }
  /* line 271, ../sass/_layout_m.scss */
  .banner .banner_area .info > a {
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 34%;
    background: #8e2a2b;
  }
  /* line 280, ../sass/_layout_m.scss */
  .banner .banner_area .info .nav {
    position: static;
    display: inline-block;
    height: 50px;
    width: 66%;
    background: #8e2a2b;
  }
  /* line 287, ../sass/_layout_m.scss */
  .banner .banner_area .info .nav > div {
    width: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: right;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
  }
  /* line 295, ../sass/_layout_m.scss */
  .banner .banner_area .info .nav > div.btn {
    height: 50px;
    line-height: 50px;
  }
  /* line 299, ../sass/_layout_m.scss */
  .banner .banner_area .info .nav > div.btn .thumb {
    display: none;
  }
  /* line 303, ../sass/_layout_m.scss */
  .banner .banner_area .info .nav > div.btn::after {
    font-size: 18px;
    color: white;
  }
  /* line 308, ../sass/_layout_m.scss */
  .banner .banner_area .info .nav > div.btn:hover {
    width: 50%;
  }
  /* line 311, ../sass/_layout_m.scss */
  .banner .banner_area .info .nav > div.btn:hover::after {
    font-size: 18px;
  }
  /* line 317, ../sass/_layout_m.scss */
  .banner .banner_area .info .nav > div.ind {
    display: none;
  }
  /* line 325, ../sass/_layout_m.scss */
  .banner::after {
    display: none;
  }

  /* line 333, ../sass/_layout_m.scss */
  .onAir .list-area {
    width: 100%;
    margin: 0 auto;
  }
  /* line 337, ../sass/_layout_m.scss */
  .onAir .list-area .prev, .onAir .list-area .next {
    display: none;
    width: 0;
    height: 0;
    overflow: hidden;
  }
  /* line 344, ../sass/_layout_m.scss */
  .onAir .list-area ::-webkit-scrollbar {
    display: none;
  }
  /* line 348, ../sass/_layout_m.scss */
  .onAir .list-area .list-content {
    overflow: auto;
  }
  /* line 351, ../sass/_layout_m.scss */
  .onAir .list-area .list-content .list {
    position: static;
  }
  /* line 356, ../sass/_layout_m.scss */
  .onAir .list-area a {
    width: calc(100% - 50px);
    margin: 0 10px;
    max-width: 350px;
  }
  /* line 361, ../sass/_layout_m.scss */
  .onAir .list-area a .info {
    width: 100%;
    height: 220px;
  }
  /* line 365, ../sass/_layout_m.scss */
  .onAir .list-area a .info .time {
    width: 100%;
    float: none;
    height: 65px;
    border-right: 0px solid #eee;
    border-bottom: 1px solid #eee;
    font-size: 14px;
    line-height: 40px;
  }
  /* line 374, ../sass/_layout_m.scss */
  .onAir .list-area a .info .time::before {
    line-height: 40px;
    font-size: 14px;
    display: inline;
    margin-right: 5px;
  }
  /* line 382, ../sass/_layout_m.scss */
  .onAir .list-area a .info .title {
    font-size: 24px;
    line-height: 1.2;
    margin: 20px 20px 0px 20px;
    max-height: 57.6px;
  }
  /* line 389, ../sass/_layout_m.scss */
  .onAir .list-area a .info .brief {
    margin: 20px 20px 20px 20px;
  }

  /* line 401, ../sass/_layout_m.scss */
  .review_out .review .list-area {
    width: 100%;
    margin: 0 auto;
  }
  /* line 405, ../sass/_layout_m.scss */
  .review_out .review .list-area .prev, .review_out .review .list-area .next {
    display: none;
    width: 0;
    height: 0;
    overflow: hidden;
  }
  /* line 412, ../sass/_layout_m.scss */
  .review_out .review .list-area ::-webkit-scrollbar {
    display: none;
  }
  /* line 416, ../sass/_layout_m.scss */
  .review_out .review .list-area .list-content {
    overflow: auto;
  }
  /* line 419, ../sass/_layout_m.scss */
  .review_out .review .list-area .list-content .list {
    position: static;
  }
  /* line 424, ../sass/_layout_m.scss */
  .review_out .review .list-area a {
    width: calc(100% - 50px);
    margin: 0 10px 25px;
    max-width: 350px;
  }

  /* line 435, ../sass/_layout_m.scss */
  .threeColumn > div:first-child {
    width: 100%;
    float: none;
  }
  /* line 440, ../sass/_layout_m.scss */
  .threeColumn > div:last-child {
    width: 100%;
    float: none;
  }
  /* line 446, ../sass/_layout_m.scss */
  .threeColumn .news {
    border-right: 0px solid #eee;
    border-bottom: 0px solid #eee;
  }
  /* line 451, ../sass/_layout_m.scss */
  .threeColumn .news .list a {
    display: block;
    float: none;
    width: 90%;
    margin: 10px 5%;
  }
  /* line 458, ../sass/_layout_m.scss */
  .threeColumn .news .list a:first-child .thumb, .threeColumn .news .list a:nth-child(5) .thumb {
    width: 100%;
    padding-top: 60%;
    float: none;
  }
  /* line 464, ../sass/_layout_m.scss */
  .threeColumn .news .list a:first-child .info, .threeColumn .news .list a:nth-child(5) .info {
    margin-left: 0;
  }
  /* line 467, ../sass/_layout_m.scss */
  .threeColumn .news .list a:first-child .info .title, .threeColumn .news .list a:nth-child(5) .info .title {
    font-size: 18px;
    line-height: 36px;
    margin: 20px 0;
  }
  /* line 475, ../sass/_layout_m.scss */
  .threeColumn .news .list a:nth-child(5) {
    float: none;
  }

  /* line 483, ../sass/_layout_m.scss */
  .wideBanner {
    width: 100%;
    height: 70%;
  }
  /* line 487, ../sass/_layout_m.scss */
  .wideBanner .title {
    font-size: 24px;
    letter-spacing: 0.2em;
    line-height: 1.2;
  }
  /* line 493, ../sass/_layout_m.scss */
  .wideBanner .thumb {
    background-attachment: scroll;
  }

  /* line 499, ../sass/_layout_m.scss */
  .dramaDetail > div {
    width: 100%;
    padding: 20px;
  }
  /* line 505, ../sass/_layout_m.scss */
  .dramaDetail .info > div {
    margin-left: 0px;
  }
  /* line 508, ../sass/_layout_m.scss */
  .dramaDetail .info > div span {
    position: static;
    display: block;
    color: #777;
  }
  /* line 517, ../sass/_layout_m.scss */
  .dramaDetail .characterList > div {
    margin-bottom: 20px;
  }
  /* line 520, ../sass/_layout_m.scss */
  .dramaDetail .characterList > div .about {
    display: block;
  }
  /* line 522, ../sass/_layout_m.scss */
  .dramaDetail .characterList > div .about > div:first-child {
    border-left: 5px solid #ca3537;
    padding-left: 8px;
  }
  /* line 526, ../sass/_layout_m.scss */
  .dramaDetail .characterList > div .about > div:last-child {
    margin-top: 10px;
    border-left: 0px solid #eee;
    border-top: 0px solid #eee;
    padding-left: 0px;
  }

  /* line 541, ../sass/_layout_m.scss */
  .footer .mid .sitemap {
    margin: 30px auto;
    width: 80%;
    float: none;
  }
  /* line 546, ../sass/_layout_m.scss */
  .footer .mid .sitemap > div {
    display: inline-block;
    width: 100%;
    margin: 20px 0;
    border-bottom: 1px solid #555;
    padding-bottom: 15px;
  }
  /* line 553, ../sass/_layout_m.scss */
  .footer .mid .sitemap > div.social {
    border: none;
    text-align: center;
    padding-bottom: 0;
  }
  /* line 561, ../sass/_layout_m.scss */
  .footer .mid .logo {
    width: 100%;
    float: none;
    text-align: center;
    margin: 30px 0;
  }
  /* line 567, ../sass/_layout_m.scss */
  .footer .mid .logo img {
    width: 50%;
    height: auto;
  }
  /* line 575, ../sass/_layout_m.scss */
  .footer .copyright > div {
    width: 80%;
  }
}
