body {
    margin-top: 130px;
}

.head {
    margin: 0 auto 30px;

    h2 {
        text-align: center;
    }

    h3 {
        text-align: center;
    }

    .filter {
        position: static;
        text-align: center;
        float: none;
        margin-top: 40px;
    }
}

.hint {
    display: block;
}

.header {
    &.simple {
        //background: none;
        //@include box-shadow(0px 0px 0px rgba(0, 0, 0, 0));
   
    }

    .topBar {
        background: #333;

        .content {
            .leftPart {
                float: none;
                display: block;
                width: 100%;
                height: 40px;

                a {
                    //font-size: 13px;

                    &.main {
                        &::before {
                            //font-size: 14px;
                            margin-right: 0;
                        }

                        span {
                            display: none;
                        }
                    }
                }
            }

            .rightPart {
                float: none;
                width: 100%;
                position: absolute;
                top: 40px;
                pointer-events: none;

                a {
                    display: none;
                }

                .search {
                    height: 40px;
                    min-width: 40px;
                    background: #999;
                    display: inline-block;
                    float: right;
                    position: relative;
                    pointer-events: auto;
                    z-index: 10;

                    &:hover, &:active {
                        input[type=text] {
                            width: calc(100vw - 40px);
                        }

                        span {
                            width: 40px;
                        }
                    }
                }
            }
        }
    }

    .mid {
        width: 100%;
        position: relative;

        ::-webkit-scrollbar {
            display: none;
        }

        &.index {
            .broadcast {
                width: calc(100% - 70px);
                background: rgba(0, 0, 0, 0.3);
                padding: 5px 15px;
                margin: 0;
                border-top: 0px solid #eee;

                a {
                    //color:#000;
               
                }
            }

            &::after, &::before {
                display: none;
            }
        }

        &::after {
            content: "\f053";
            font-family: FontAwesome;
            line-height: 39px;
            text-align: left;
            font-size: 12px;
            text-indent: 10px;
            color: #ddd;
            position: absolute;
            width: 40px;
            height: 39px;
            top: 0;
            left: 0px;
            z-index: 5;
            background: #fff;
            background: -webkit-linear-gradient(left, #fff, rgba(255, 255, 255, 0));
            background: -o-linear-gradient(right, #fff, rgba(255, 255, 255, 0));
            background: -moz-linear-gradient(right, #fff, rgba(255, 255, 255, 0));
            background: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
            pointer-events: none;
        }

        &::before {
            content: "\f054";
            font-family: FontAwesome;
            position: absolute;
            line-height: 39px;
            color: #ddd;
            font-size: 12px;
            text-align: right;
            width: 40px;
            height: 39px;
            border-right: 10px solid #fff;
            top: 0;
            right: 40px;
            z-index: 5;
            background: #fff;
            background: -webkit-linear-gradient(right, #fff, rgba(255, 255, 255, 0));
            background: -o-linear-gradient(left, #fff, rgba(255, 255, 255, 0));
            background: -moz-linear-gradient(left, #fff, rgba(255, 255, 255, 0));
            background: linear-gradient(to left, #fff, rgba(255, 255, 255, 0));
            pointer-events: none;
        }

        .logo {
            display: block;
            display: none;
            width: 94px;
            height: 29px;
            background-size: 94px 29px;
            margin: 10px 0 0px;
            margin: 20px auto;
        }

        .onAirDramas {
            display: block;
            margin-left: 15px;
            margin-right: 55px;
            max-width: none;
            white-space: nowrap;
            overflow: auto;
            position: relative;
            padding: 0 15px;

            a {
                line-height: 39px;
            }
        }

        .category{
            width:calc(100% - 80px);
            height:40px;
            background: #fff;
            margin:0 0 10px;

            .list{

                padding:0 20px;
                background: #fff;
                
                a{
                    line-height:40px;
                    color:#333;
                    &:hover{
                        color:#000;
                    }
                }
            }
        }

        .broadcast {
            width: 90%;
            height: 30px;
            margin: 0 auto;
            overflow: hidden;
            text-align: left;
            float: none;
            border-top: 1px solid #eee;

            @include transition(all, 0.3s);

            a {
                text-decoration: none;
                display: block;
                width: 100%;
                font-size: 16px;
                color: #000;
                line-height: 30px;
                height: 30px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                letter-spacing: 0.1em;
                float: left;

                &:hover {
                    color: $drama;
                    text-decoration: underline;
                }

                &::before {
                    content: "\f143";
                    font-family: FontAwesome;
                    color: $drama;
                    font-size: 18px;
                    margin-right: 8px;
                }
            }

            .list {
                position: relative;
                top: 0;

                @include transition(top, 0.5s);

                &::after {
                    content: "";
                    display: block;
                    clear: both;
                    visibility: hidden;
                    height: 0;
                }
            }
        }
    }
}



.banner_index {
    margin: -90px auto 80px;

    ::-webkit-scrollbar {
        display: none;
    }

    .info {
        h3 {
            font-size: 14px;
            padding: 0 20px;
            line-height: 30px;

            @include border-radius(15px);
        }

        h2 {
            font-size: 24px;
            line-height: 1.2;
            margin: 10px 0;
            max-width: none;
        }

        p {
            font-size: 12px;
            line-height: 1.5;
            max-width: none;
        }
    }

    .btns {
        width: 100%;
        bottom: -85px;
        padding: 2px 0px;

        > .list {
            overflow: auto;

            ul {
                position: static;
            }
        }

        .prev, .next {
            pointer-events: none;
            background: rgba(0, 0, 0, 0.3);
            left: 0;
        }

        .next {
            left: auto;
            right: 0px;
        }
    }

    .autoBar {
        width: 100%;
    }
}

.banner {
    margin: 0 auto 0;

    .banner_area {
        .list {
            width: 100%;
            padding-top: 100%;
            margin-left: 0px;
        }

        .info {
            position: relative;
            width: 100%;
            height: auto;
            background: $drama;
            z-index: 5;
            padding-top: 10px;

            > h2 {
                margin: 0;
                font-size: 18px;
                color: #fff;
                line-height: 40px;
                float: none;

                @include box;

                padding: 0 20px;
                border-top: 0px solid #fff;
                display: block;
            }

            > h3 {
                margin: 0;
                font-size: 14px;
                color: #000;
                line-height: 28px;
                display: block;
                float: none;

                @include box;

                padding: 0 20px 10px;
            }

            > a {
                //float: left;
                height: 50px;
                line-height: 50px;
                text-align: center;
                width: 34%;
            }

            .nav {
                position: static;
                display: inline-block;
                height: 50px;
                width: 66%;
                //background: #8e2a2b;
                background: rgba(0, 0, 0, 0.2);

                > div {
                    width: 50%;

                    @include box;

                    float: right;
                    border-right: 1px solid rgba(255, 255, 255, 0.1);

                    &.btn {
                        height: 50px;
                        line-height: 50px;

                        .thumb {
                            display: none;
                        }

                        &::after {
                            font-size: 18px;
                            color: rgba(255, 255, 255, 1);
                        }

                        &:hover {
                            width: 50%;

                            &::after {
                                font-size: 18px;
                            }
                        }
                    }

                    &.ind {
                        display: none;
                    }
                }
            }
        }
    }

    &::after {
        display: none;
    }
}

.banner_carousel {

    .banner_area {

        .list {
            width: 100%;
            padding-top: 100%;

            a {
                position: absolute;
                display: block;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                overflow: hidden;
                pointer-events: none;

                //@include opacity(1);
                @include transition(all, 0.5s);

                z-index: 1;
                transform: scale(0.6);

                img {
                    display: none;
                }

                &.selected {
                    //@include opacity(1);
                    transform: scale(1);
                    z-index: 5;

                    &::after {
                        background: rgba(0, 0, 0, 0);
                    }
                }

                &.prev {
                    //@include opacity(.5);
                    transform: scale(0.8);
                    left: 70%;
                }

                &.next {
                    //@include opacity(.5);
                    transform: scale(0.8);
                    left: -70%;
                }

                &::after {
                    @include transition(opacity, 0.5s);

                    content: '';
                    position: absolute;
                    z-index: 5;
                    width: 100%;
                    height: 100%;
                    background: rgba(0, 0, 0, 0.7);
                }
            }
        }

        .nav {
            position: absolute;
            width: 66%;
            top: auto;
            bottom:-50px;

            > div {
                width: 100%;
                text-align: center;
                border-right:1px solid rgba(255,255,255,.1);
                @include box;

                &.btn {
                    width: 50%;
                    height: 50px;
                    line-height: 50px;
                    margin-top: 0px;
                    margin-left: 0px;
                    background: rgba(0, 0, 0, 0.2);

                    @include border-radius(0);

                    &::after {
                        color: rgba(255, 255, 255, 1);
                        font-size:18px;
                    }

                    &:hover {
                        &::after {
                            font-size: 14px;
                        }
                    }

                    &.next {
                        margin-right: 0px;
                    }
                }
            }
        }

        .info {
            width: 100%;
            height: auto;
            padding-top:10px;

            > h2 {
                margin: 0;
                font-size: 18px;
                color: #fff;
                line-height: 40px;
                float: none;

                @include box;

                padding: 0 20px;
                border-top: 0px solid #fff;
                display: block;
            }

            > h3 {
                margin: 0;
                font-size: 14px;
                color: #000;
                line-height: 28px;
                display: block;
                float: none;

                @include box;

                padding: 0 20px 10px;
            }

            > a {
                //float: left;
                height: 50px;
                line-height: 50px;
                text-align: center;
                width: 34%;
            }
        }
    }
}

.onAir_index {
    width: 100%;

    .list-area {
        width: 100%;
        margin: 0 auto;

        .prev, .next {
            display: none;
            width: 0;
            height: 0;
            overflow: hidden;
        }

        ::-webkit-scrollbar {
            display: none;
        }

        .list-content {
            overflow: auto;

            .list {
                position: static;
            }
        }

        a {
            width: calc(100% - 50px);
            margin: 0 10px;
            max-width: 350px;

            .info {
                width: 100%;
                height: 220px;

                .time {
                    width: 100%;
                    float: none;
                    height: 65px;
                    border-right: 0px solid #eee;
                    border-bottom: 1px solid #eee;
                    font-size: 14px;
                    line-height: 40px;

                    &::before {
                        line-height: 40px;
                        font-size: 14px;
                        display: inline;
                        margin-right: 5px;
                    }
                }

                .title {
                    font-size: 24px;
                    line-height: 1.2;
                    margin: 20px 20px 0px 20px;
                    max-height: 57.6px;
                }

                .brief {
                    margin: 20px 20px 20px 20px;
                }
            }
        }
    }
}

.onAir {
    //padding: 40px 0;

    .list-area {
        width: 100%;
        margin: 0 auto;

        .prev, .next {
            display: none;
            width: 0;
            height: 0;
            overflow: hidden;
        }

        ::-webkit-scrollbar {
            display: none;
        }

        .list-content {
            overflow: auto;

            .list {
                position: static;
            }
        }

        a {
            width: calc(100% - 50px);
            margin: 0 10px;
            max-width: 350px;

            .info {
                width: 100%;
                height: 220px;

                .time {
                    width: 100%;
                    float: none;
                    height: 65px;
                    border-right: 0px solid #eee;
                    border-bottom: 1px solid #eee;
                    font-size: 14px;
                    line-height: 40px;

                    &::before {
                        line-height: 40px;
                        font-size: 14px;
                        display: inline;
                        margin-right: 5px;
                    }
                }

                .title {
                    font-size: 24px;
                    line-height: 1.2;
                    margin: 20px 20px 0px 20px;
                    max-height: 57.6px;
                }

                .brief {
                    margin: 20px 20px 20px 20px;
                }
            }
        }
    }
}

.review_out {

    .review {
        .list-area {
            width: 100%;
            margin: 0 auto;

            .prev, .next {
                display: none;
                width: 0;
                height: 0;
                overflow: hidden;
            }

            ::-webkit-scrollbar {
                display: none;
            }

            .list-content {
                overflow: auto;

                .list {
                    position: static;
                }
            }

            a {
                width: calc(100% - 50px);
                margin: 0 10px 25px;
                max-width: 350px;
            }
        }
    }
}

.threeColumn {

    &.mode_news {
        margin-top: auto;
    }

    > div {
        &.double {
            width: 100%;
            float: none;
        }

        &.single {
            width: 100%;
            float: none;
        }
    }

    > .news {
        border-right: 0px solid #eee;
        border-bottom: 0px solid #eee;

        .list {
            a {
                display: block;
                float: none;
                width: 90%;
                margin: 10px 5%;

                &:first-child, &:nth-child(5) {
                    .thumb {
                        width: 100%;
                        padding-top: 60%;
                        float: none;
                    }

                    .info {
                        margin-left: 0;

                        .title {
                            font-size: 18px;
                            line-height: 36px;
                            margin: 20px 0;
                        }
                    }
                }

                &:nth-child(5) {
                    float: none;
                }
            }
        }
    }
}

.partners {
    a {
        width: 49%;
        padding: 6%;
    }
}

.wideBanner {
    width: 100%;
    height: 70%;

    .title {
        font-size: 24px;
        letter-spacing: 0.2em;
        line-height: 1.2;
    }

    .thumb {
        background-attachment: scroll;
    }
}

.dramaDetail {
    > div {
        width: 100%;
        padding: 20px;
    }

    .info {
        > div {
            margin-left: 0px;

            span {
                position: static;
                display: block;
                color: #777;
            }
        }
    }

    .characterList {
        > div {
            margin-bottom: 20px;

            .about {
                display: block;

                > div:first-child {
                    border-left: 5px solid $drama;
                    padding-left: 8px;
                }

                > div:last-child {
                    margin-top: 10px;
                    border-left: 0px solid #eee;
                    border-top: 0px solid #eee;
                    padding-left: 0px;
                }
            }
        }
    }

    .gallery {}
}

.footer {
    .mid {
        .sitemap {
            margin: 0px auto;
            width: 80%;
            float: none;

            > div {
                display: inline-block;
                width: 100%;
                margin: 20px 0;
                border-bottom: 1px solid #555;
                padding-bottom: 15px;

                &.social {
                    border: none;
                    text-align: center;
                    padding-bottom: 0;
                }
            }
        }

        .logo {
            width: 100%;
            float: none;
            text-align: center;
            margin: 30px 0;

            img {
                width: 50%;
                height: auto;
            }
        }
    }

    .copyright {
        > div {
            width: 80%;
        }
    }
}

.article {
    > div {
        width: 100%;
    }

    .thumbnail {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .banner_index {
        .banner_area {
            > .list {
                padding-top: 100%;
            }
        }
    }

    .threeColumn_index {
        > div {
            .list {
                @include box;

                padding: 0px 15px;

                a {
                    float: none;
                    width: 100%;
                    margin: 10px auto;
                }
            }
        }
    }
}